<ion-header >
  <ion-toolbar color="barras">
    <div class="titulo">
      <ion-img src="../../../assets/img/logo.png" alt="" style="width: 30px;" class="logo"></ion-img>
      <ion-title>Administrador</ion-title>
    </div>
   <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> 
     <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
  </ion-toolbar>
</ion-header> 



<ion-content [fullscreen]="true">

  <ion-grid  *ngIf="arregloJuegos.length > 0; else juegosVacio">
    <div class="menu-editar">
      <h1 class="ion-text-center ion-padding">Juegos registrados</h1>
    <ion-row>
      <ion-col size="12" *ngFor="let x of arregloJuegos">
        <ion-card class="carta">
          <ion-card-header>
            <ion-card-title class="ion-text-center">{{x.nombre_juego}}</ion-card-title>
            <h4 *ngIf="x.esta_desactivado === 0 " class="ion-text-center" style="color: black;">Juego activado para la venta</h4>
            <h4 *ngIf="x.esta_desactivado === 1 " class="ion-text-center" style="color: black;">Juego desactivado</h4>
          </ion-card-header>
          <div class="botones ion-margin">
            <button mat-fab extended class="boton" (click)="irEditar(x.id_juego)" >
              <mat-icon>edit</mat-icon>
              Editar
            </button>
            <button *ngIf="x.esta_desactivado === 0 " style="margin-left: 10px;" mat-fab extended class="boton2" color="primary" (click)="botonDesactivar(x.id_juego)">
              <mat-icon>lock</mat-icon>
              Desactivar
            </button>
            <button *ngIf="x.esta_desactivado === 1 " style="margin-left: 10px;" mat-fab extended class="boton" color="primary" (click)="botonActivar(x.id_juego)">
              <mat-icon>lock_open</mat-icon>
              Activar
            </button>
            </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </div> 
  </ion-grid>


  <ng-template #juegosVacio>
    <ion-card text-center class="mensaje ion-text-center">
      <ion-card-header>
        <h1 class="ion-text-center sombra subtitulos">No hay juegos registrados</h1>
      </ion-card-header>
    
      <ion-card-content>
       <p>No se han registrado juegos en la aplicacion</p>
      </ion-card-content>
    </ion-card>
    
  </ng-template>


</ion-content>
